@use '/src/styles/utils/index.scss' as *;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background: linear-gradient(92.78deg,#9d284a, #b33e5c, #ca536f);
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);

  .inner {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .title {
      font-weight: bold;
      font-size: 2rem;
      color: #fff;
    }
  }
}